---
layout: default
---
<!-- Custom JS -->
<script type="text/javascript">
  if (window.addEventListener) { // Mozilla, Netscape, Firefox
    window.addEventListener('load', WindowLoad, false);
  } else if (window.attachEvent) { // IE
    window.attachEvent('onload', WindowLoad);
  }

  // Get data on page load
  function WindowLoad(event) {
    GetDEL();
  }

  // Retrieve csv from github
  function GetDEL() {
    var data;
    $.ajax({
      type: "GET",
      url: "https://raw.githubusercontent.com/notpace/del_redesign/master/del.csv",
      dataType: "text",
      success: function (response) { data = ParseDEL(response) }
    });
  }

  // Parse the csv into more workable data sets
  function ParseDEL(data) {
    const data_objects = $.csv.toObjects(data);
    // Reformat table_headers for DataTable
    const table_headers = $.csv.toArrays(data)[0].map(function (header) {
      return { title: header };
    });
    // Remove the header and get rid of internal pipe characters
    const pipe_replace = x => x.replace(/\|/g, ', ');
    const raw_table_data = $.csv.toArrays(data).slice(1)
    const table_data = raw_table_data.map(subarray => subarray.map(pipe_replace));
    // Generic grouping function
    const groupBy = function (xs, key) {
      return xs.reduce(function (rv, x) {
        (rv[x[key]] = rv[x[key]] || []).push(x);
        return rv;
      }, {});
    };
    // Group all data elements by Assessment Instrument
    const grouped_by_assessment = groupBy(data_objects, 'Assessment Instrument');
    const grouped_by_version = {}
    Object.keys(grouped_by_assessment).forEach(function (key) {
      grouped_by_version[key] = groupBy(grouped_by_assessment[key], 'Assessment Instrument Version')
    });
    RenderDEL(data_objects, grouped_by_version, table_headers, table_data);
  }

  const assessment_item_details = [
    {
      "code": "IRF-PAI",
      "name": "Inpatient Rehabilitation Facility Patient Assessment Instrument",
      "description": "Assessment data collected on all Medicare Part A fee-for-service patients who receive services under Part A from an inpatient rehabilitation unit or hospital.",
      "url": "https://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/InpatientRehabFacPPS/IRFPAI.html"
    },
    {
      "code": "LCDS",
      "name": "Long-Term Care Hospital Continuity Assessment Record & Evaluation (CARE) Data Set",
      "description": "A standardized primary screening and assessment tool of health status which forms the foundation of the comprehensive assessment for all residents (regardless of payer) of long-term care facilities certified to participate in Medicare or Medicaid.",
      "url": "https://www.cms.gov/Medicare/Quality-Initiatives-Patient-Assessment-Instruments/LTCH-Quality-Reporting/LTCH-CARE-Data-Set-and-LTCH-QRP-Manual.html"
    },
    {
      "code": "MDS3.0",
      "name": "Resident Assessment Instrument (RAI) Minimum Data Set",
      "description": "A comprehensive assessment and care planning process used by the nursing home industry since 1990 as a requirement for nursing home participation in the Medicare and Medicaid programs.",
      "url": "https://www.cms.gov/Medicare/Quality-Initiatives-Patient-Assessment-Instruments/NursingHomeQualityInits/MDS30RAIManual.html"
    },
    {
      "code": "OASIS",
      "name": "Outcome and Assessment Information Set",
      "description": "Represents core items of a comprehensive assessment for an adult home care patient and forms the basis for measuring patient outcomes for purposes of outcome-based quality improvement (OBQI).",
      "url": "https://www.cms.gov/Medicare/Quality-Initiatives-Patient-Assessment-Instruments/OASIS/Background.html"
    },
    {
      "code": "HIS",
      "name": "Hospice Item Set",
      "description": "A set of data elements that can be used to calculate 7 quality measures – 6 NQF-endorsed measures and 1 modified NQF-endorsed measure.",
      "url": "https://www.cms.gov/Medicare/Quality-Initiatives-Patient-Assessment-Instruments/Hospice-Quality-Reporting/Hospice-Item-Set-HIS.html"
    },
    {
      "code": "FASI",
      "name": "Functional Assessment Standardized Items",
      "description": "Includes items to measure functional ability including mobility, activities of daily living(e.g., bathing, dressing), instrumental activities of daily living(e.g., meal preparation), and caregiver availability.",
      "url": "https://www.medicaid.gov/medicaid/ltss/teft-program/index.html"
    }
  ]

  // Add rendered elements based on grouped data
  function RenderDEL(all_data, grouped_data, table_headers, table_data) {
    assessment_item_details.forEach(function (assessment) {
      var version_details = ""
      try {
        Object.keys(grouped_data[assessment.code]).forEach(function (version) {
          version_details += "<li class='list-group-item'>" + 
            "<strong>Version " + version + ":</strong> " +
            grouped_data[assessment.code][version].length.toString() +
            " Elements</li>"
        })
      }
      catch (err) {
        var version_details = "<li class='list-group-item'>Coming Soon</li>"
      }
      let header = "\
        <div class='card-header'>\
          <h5 class='card-title'>" + assessment.code + "</h5>\
          <h6 class='card-subtitle mb-2 text-muted'>" + assessment.name + "</h6>\
          <p class='card-text'>" + assessment.description + "</p>\
        </div>"
      let body = "\
        <ul class='list-group list-group-flush'>" + version_details + "</ul>"
      let footer = "\
        <div class='card-footer'>\
          <a class='btn btn-primary' href='" +
          assessment.url +
          "' target='_blank'>" +
          assessment.code +
          " Homepage</a>\
        </div>"
      $("#assessment_instruments").append(
        "<div class='card'>\
          " + header + "\
          " + body + "\
          " + footer + "\
        </div>"
      )
    });
    // Add Table of all data elements
    $('#table-container').DataTable({
      data: table_data,
      columns: table_headers,
      responsive: true
    });
  }
</script>

<h1>CMS Data Element Library</h1>
<p class="lead">The <strong>CMS Data Element Library</strong> (DEL) is the centralized resource for CMS assessment instrument data elements (e.g. questions and responses) and their associated health information technology (IT) standards.</p>
<div class="alert alert-warning" role="alert">
  This is a user interface redesign of the <a href='https://del.cms.gov/'>Official CMS Data Element Library</a>. It relies on client-side processing so it may take a few seconds to load.
</div>
{% include mission.html %}
{% include assessments.html %}
{% include search.html %}