---
layout: default
---
<!-- Custom JS -->
<script type="text/javascript">
  // Get Assessment Item metadata from json
  var assessment_item_details
  $.ajax({
    type: "GET",
    url: "assessment_item_details.json",
    dataType: "text",
    success: function (response) {
      assessment_item_details = JSON.parse(response)
    }
  })
  // Get DEL data on page load
  $(document).ready(function () {
    var data;
    $.ajax({
      type: "GET",
      url: "del.csv",
      dataType: "text",
      success: function (response) { data = ParseDEL(response) }
    })
  })

  // Parse the csv into more workable data sets
  function ParseDEL(data) {
    const data_objects = $.csv.toObjects(data);
    // Reformat table_headers for DataTable
    const table_headers = $.csv.toArrays(data)[0].map(function (header) {
      return { title: header };
    });
    // Reformat data for the search table
    const pipe_replace = x => x.replace(/\|/g, ', ');
    const raw_table_data = $.csv.toArrays(data).slice(1)
    const table_data = raw_table_data.map(subarray => subarray.map(pipe_replace));
    // Generic grouping function
    const groupBy = function (xs, key) {
      return xs.reduce(function (rv, x) {
        (rv[x[key]] = rv[x[key]] || []).push(x);
        return rv;
      }, {});
    };
    // Group all data elements by Assessment Instrument
    const grouped_by_assessment = groupBy(data_objects, 'Assessment Instrument');
    const grouped_by_version = {}
    Object.keys(grouped_by_assessment).forEach(function (key) {
      grouped_by_version[key] = groupBy(grouped_by_assessment[key], 'Assessment Instrument Version')
    });
    window.del_data_grouped = grouped_by_version
    // Create an array of all assessment versions
    let all_versions = {}
    Object.keys(grouped_by_version).forEach(function (assessment) {
      Object.keys(grouped_by_version[assessment]).forEach(function(version) {
        let k = assessment + '|' + version
        let v = assessment + ', Version ' + version
        all_versions[k] = v
      })
    });
    RenderDEL(grouped_by_version, all_versions, table_headers, table_data);
  }

  // Compute diffs between versions
  function ComputeDiff(grouped_data, version_a, version_b) {
    const get_keys = function (version) { return version.split('|') }
    const get_item_ids = function (version) {
      let item_ids = []
      version.forEach(function (item) {
        // Concatenating the Item ID and HIT Standard Name because Item IDs alone are not unique
        item_ids.push(item["Item ID"] + "|" + item["HIT Standard Name"])
      })
      return item_ids
    }
    let a = get_item_ids(grouped_data[get_keys(version_a)[0]][get_keys(version_a)[1]])
    let b = get_item_ids(grouped_data[get_keys(version_b)[0]][get_keys(version_b)[1]])
    let unique_a = a.filter(function (x) { return b.indexOf(x) < 0 })
    let unique_b = b.filter(function (x) { return a.indexOf(x) < 0 })
    let shared = a.filter(function (x) { return b.indexOf(x) >= 0 })
    return {
      unique_a: unique_a,
      unique_b: unique_b,
      shared: shared,
    }
  }

  // Return item details given a grouped data object and composite key
  function ItemDetails(grouped_data, assessment, version, item_id, hit_standard){
    let assessment_version = grouped_data[assessment][version]
    let item = assessment_version.filter(function(i){
      return i["Item ID"] == item_id & i["HIT Standard Name"] == hit_standard
    })
    return item[0]
  }

  // Helper to create item details launcher
  const ItemLauncher = function (grouped_data, assessment, version, item_id, hit_standard) {
    let item_text = item_id + " (" + hit_standard + ") "
    let launcher_button = "<button type='button' class='btn btn-link btn-sm'\
    data-toggle='modal' data-target='#item_detail' \
    data-assessment=" + assessment + "\
    data-version=" + version + "\
    data-item_id=" + item_id + "\
    data-hit_standard=" + hit_standard + "\
    >Details</button>"
    return item_text + launcher_button
  }

  // Helper to prepare data for csv download
  // TODO: Fix this and implement a DownloadJSON instead of storing them in the /data folder
  // const DownloadCSV = function(grouped_data, assessment, version) {
    // let object_data = grouped_data[assessment][version]
    // let csv_content = $.csv.fromObjects(object_data);
    // var encodedUri = encodeURI(csv_content);
    // window.open(encodedUri);
  // }


  // Add rendered elements based on grouped data
  // TODO: Refactor this so it isn't so massive
  function RenderDEL(grouped_data, all_versions, table_headers, table_data) {
    // Add assessment cards
    // TODO: Convert this section to a partial
    assessment_item_details.forEach(function (assessment) {
      // TODO: Set up link to download version
      var version_details = ""
      try {
        Object.keys(grouped_data[assessment.code]).forEach(function (version) {
          version_details += "<li class='list-group-item'>" + 
            "<strong>Version " + version + ":</strong> " +
            grouped_data[assessment.code][version].length.toString() +
            " Elements <br>Download: <code><a href='/del_redesign/data/" +
            assessment.code +"_"+ version +
            ".csv'>CSV</a></code> | <code><a href='/del_redesign/data/" + 
            assessment.code + "_" + version +
            ".pdf'>PDF</a></code></li>"
        })
      }
      catch (err) {
        var version_details = "<li class='list-group-item'><em>Coming Soon</em></li>"
      }
      let header = "\
        <div class='card-header'>\
          <h5 class='card-title'>" + assessment.code + "</h5>\
          <h6 class='card-subtitle mb-2 text-muted'>" + assessment.name + "</h6>\
          <p class='card-text'>" + assessment.description + "</p>\
        </div>"
      let body = "\
        <ul class='list-group list-group-flush'>" + version_details + "</ul>"
      let footer = "\
        <div class='card-footer'>\
          <a class='btn btn-primary' href='" +
          assessment.url +
          "' target='_blank'>" +
          assessment.code +
          " Homepage</a>\
        </div>"
      $("#assessment_instruments").append(
        "<div class='card'>\
          " + header + "\
          " + body + "\
          " + footer + "\
        </div>"
      )
    });
    // Fill the version comparison select boxes
    $.each(all_versions, function (k, v) {
      $('#version_a').append($('<option>', { value: k }).text(v));
      $('#version_b').append($('<option>', { value: k }).text(v));
    });
    // Create diff on click
    $("#compare_button").click(function(){
      let diff = ComputeDiff( grouped_data, $('#version_a').val(), $('#version_b').val() )
      // Un-hide the comparison lists
      $("#diff_results").removeClass("d-none")
      // Better labels
      $('#unique_a_title').text(
        $('#version_a').val().split("|")[0] + ", Version " +
        $('#version_a').val().split("|")[1]
      )
      $('#unique_b_title').text(
        $('#version_b').val().split("|")[0] + ", Version " +
        $('#version_b').val().split("|")[1]
      )
      let lists = ["unique_a", "shared", "unique_b"]
      lists.forEach(function(list){
        // Clear any existing lists
        $("#" + list).empty()
        // Determine which assessment and version to use for each data element in the diff
        switch (list) {
          case "unique_b":
            var assessment = $('#version_b').val().split("|")[0]
            var version = $('#version_b').val().split("|")[1]
            break
          default:
            var assessment = $('#version_a').val().split("|")[0]
            var version = $('#version_a').val().split("|")[1]
            break
        }
        // Populate each data element in the diff lists
        diff[list].forEach(function(id){
          let item_id = id.split("|")[0]
          let hit_standard = id.split("|")[1]
          $("#" + list).append(
            "<li class='list-group-item'>" +
            ItemLauncher(grouped_data, assessment, version, item_id, hit_standard) +
            "</li>"
          )
        })
      })
    })
    // Add Table of all data elements
    $('#table-container').DataTable({
      data: table_data,
      columns: table_headers,
      responsive: true
    });
    // Smooth Scrolling
    $('a').smoothScroll();
  }
</script>

{% include intro.html %}
{% include mission.html %}
{% include assessments.html %}
{% include search.html %}
{% include diff.html %}
{% include item_detail.html %}
{% include about.html %}