<div class="container">
  <h2 id="about_title" class="display-4">About</h2>
  <div class='container alert alert-success'>
    This page is open source! Check out the
    <a href="https://github.com/notpace/del_redesign" target="_blank">source code</a> and feel free to
    <a href="https://github.com/notpace/del_redesign/issues">leave feedback</a> or submit
    <a href="https://github.com/notpace/del_redesign/pulls">pull requests</a>.
  </div>
  <div class="row">
    <div class="col-sm">
      <h3>What is this?</h3>
      This is a user interface redesign of the <a href="https://del.cms.gov/DELWeb/pubHome">CMS Data Element Library</a>. It intends to address some of the issues with the current DEL site, including:
      <ul>
        <li>The <a href="https://del.cms.gov/DELWeb/pubHome">DEL Homepage</a> mentions pages for FAQ, Help, and a User Guide but does not link to them anywhere on the site</li>
        <li>It takes multiple clicks to get to any useful information on the site, including code set downloads and aggregated information reports</li>
        <li>The
          <a href="https://del.cms.gov/DELWeb/pubDownloadHitCodesForm">Download HIT Codes</a> output omits the following fields:
          <ul>
            <li>Section Name</li>
            <li>Question Text</li>
            <li>Skip Pattern Trigger</li>
            <li>Lookback Period (days)</li>
            <li>Status</li>
            <li>Status Date</li>
            <li>Item Use</li>
            <li>Collection Time Period/Item Subset(s)</li>
            <li>Parent Item ID</li>
            <li>Copyright Information</li>
          </ul>
        </li>
        <li>The <a href="https://del.cms.gov/DELWeb/pubDownloadHitCodesForm">Download HIT Codes</a> page omits the following items:
          <ul>
            <li>The entire Hospice Item Set (HIS) (versions 1.00.0 and 2.00.0)</li>
            <li>IRF-PAI versions 1.10, 1.2, 1.3</li>
            <li>LCDS versions 1.01, 2.01</li>
            <li>MDS3.0 versions 1.00.2, 1.00.6, 1.10, 1.11, 1.12, 1.3</li>
            <li>OASIS versions C1-102015, C1-012015, C-082009</li>
          </ul>
        </li>
        <li>There is no aggregate information about the assessment items (e.g., total data elements per assessment item, list
          of linked health IT standards used in each assessment item, etc.)</li>
        <li>There are no links from this page to the authoritative sites for each of the assessment items (e.g., link IRF-PAI
          to
          <a href="https://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/InpatientRehabFacPPS/IRFPAI.html">https://www.cms.gov/Medicare/Medicare-Fee-for-Service-Payment/InpatientRehabFacPPS/IRFPAI.html</a>)</li>
        <li>There is no visualization of commonalities/discrepancies between the various data sets</li>
        <li>From the
          <a href="https://del.cms.gov/DELWeb/pubNavSearch">Search</a> and
          <a href="https://del.cms.gov/DELWeb/pubNavRpts">Report</a> pages, there is no link back to the
          <a href="https://del.cms.gov/DELWeb/pubHome">DEL Homepage</a></li>
      </ul>
    </div>
    <div class="col-sm">
      <h3>TODO list</h3>
      <ul>
        <li><strike>Consolidate and serve all data that can be downloaded through the <a href="https://del.cms.gov/DELWeb/pubDownloadHitCodesForm">Download HIT Codes</a> page</strike></li>
        <li><strike>Implement a universal, instant search across all codes</strike></li>
        <li><strike>Display all of the Assessment Item Versions with appropriate context for newcomers</strike></li>
        <li><strike>Implement a diff tool to compare assessment data elements</strike></li>
        <li><strike>Reduce the number of clicks necessary to get to important actions</strike></li>
        <li><strike>Implement a general-purpose modal that returns all attributes of a data element</strike></li>
        <li>Implement CSV and JSON download links for Assessment Item versions</li>
        <li>Scrape all missing data from the DEL and add it to the <code>del.csv</code> file</li>
        <li>Build some kind of visualization to quickly illustrate data set attributes</li>
        <li>Implement some kind of download for the 'Compare Assessment Versions' tool</li>
        <li>Implement pagination for the 'Compare Assessment Versions' tool</li>
        <li>Refactor and otherwise clean up all the JavaScript on <code>index.html</code></li>
        <li>Add more visual flair - transitions, sticky nav, etc.</li>
        <li>Test responsive design elements</li>
      </ul>
    </div>
  </div>
</div>