<div class='container'>
  <h2 id="assessment_instruments_title" class="display-4">Assessment Instruments</h2>
  <p>The DEL database includes post-acute care (PAC) assessment questions and their responses, as well as other associated details
  including the assessment version, item labels, item status, copyright information, CMS item usage, skip pattern information,
  lookback periods, and linked health IT Standards (e.g.- Logical Observation Identifiers Names and Codes (LOINC), and Systematized
  Nomenclature of Medicine -- Clinical Terms (SNOMED) when available).</p>
  <div id="assessment_instruments" class='card-columns'></div>
</div>