<!-- Photo by Thomas Lefebvre on Unsplash -->
<div id="intro">
  <br>
  <div class='container'>
    <div class="jumbotron jumbotron-fluid">
      <div class='container'>
        <h1 class="display-3">CMS Data Element Library</h1>
        <p class="lead">The
          <strong>CMS Data Element Library</strong> (DEL) is the centralized resource for CMS assessment instrument data elements (e.g.
          questions and responses) and their associated health information technology (IT) standards.</p>
      </div>
    </div>
    <div class="alert alert-warning" role="alert">
      This is a user interface redesign of the
      <a href='https://del.cms.gov/'>Official CMS Data Element Library</a>. It relies on client-side processing so it may take a few seconds to load.
    </div>
    <ul class="nav nav-pills nav-justified" id="home_nav">
      <li class="nav-item">
        <a class="nav-link" href="#mission_title">
          <ion-icon name="navigate"></ion-icon>
          <p>DEL Mission and Goals</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#assessment_instruments_title">
          <ion-icon name="list-box"></ion-icon>
          <p>Assessment Instruments</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#search_title">
          <ion-icon name="search"></ion-icon>
          <p>Search All Elements</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#diff_title">
          <ion-icon name="done-all"></ion-icon>
          <p>Compare Assessments</p>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about_title">
          <ion-icon name="help"></ion-icon>
          <p>About</p>
        </a>
      </li>
    </ul>
  </div>
</div>