<h2>DEL Mission and Goals</h2>
<p>The mission of the Data Element Library (DEL) is to create a comprehensive, electronic, distributable, and centralized resource of CMS assessment instrument content.</p>
<p>In support of the Improving Medicare Post-Acute Care Transformation Act (IMPACT Act), the goals of the DEL are to:</p>
<ul>
  <li>Serve as a centralized resource for CMS assessment data elements (questions and response options)</li>
  <li>Promote the sharing of electronic CMS assessment data sets and health information technology standards; and</li>
  <li>Influence and support industry efforts to promote Electronic Health Record (EHR) and other health IT interoperability</li>
</ul>
<p>In support of CMS' focus on "Patients over Paperwork", the DEL promotes interoperable health information exchange by linking
  CMS assessment questions and response options to nationally accepted health IT standards. Standardized and interoperable
  data support health information exchange across healthcare settings to facilitate care coordination, improved health outcomes,
  and reduced provider burden through the reuse of appropriate healthcare data.</p>