<div class='container'>
  <h2 id="search_title" class="display-4">Search All Elements</h2>
  <div class="alert alert-info" role="alert">
    <strong>Search Tips:</strong>
    <ul style='margin-bottom:0px;'>
      <li>Use the plus symbol on the left of each row to see any data that doesn't fit on the page</li>
      <li>The search box looks for text matches in all fields and is not case-sensitive</li>
      <li>You can enter multiple search terms - just put a space between them</li>
    </ul>
  </div>
  <table id='table-container' class='table table-striped table-bordered compact' style='width:100%;'>
    <thead></thead>
    <tbody></tbody>
  </table>
</div>